wp-content/._plugins
wp-content/._themes
wp-content/themes/._index.php
wp-content/themes/._pizza
wp-content/themes/custom_pizza/._functions.php
wp-content/themes/custom_pizza/._index.php
wp-content/themes/custom_pizza/._screenshot.png